* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #bfcce0;
    display: flex;
    justify-content: center;
    background-image: url("bg.jpg"); 
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 450px;
    height: auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); 
}
h1 {
    background-image: linear-gradient(to right, rgb(10, 10, 10) 0%, black 15%, rgb(87, 45, 185) 100%);
    text-shadow: 2px 2px 8px white;
    padding: 5px;
    text-align: center;
    transition: 0.8s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    display: block;
    cursor: pointer;
}
h1:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
}
.myForm {
    /* padding from all side (top,bottom,left,right) */
    padding: 40px;
    
}
input,
select {
    margin-top: 10px;
    height: 40px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.main {
    position: relative;
    display: flex;
    flex-flow: column;
}
.lable1,
.lable2,
.lable3,
.lable4,
.lable5,
.lable6,
.lable7,
.lable8 {
    position: absolute;
    top: 20px;
    left: 15px;
    transition: top 0.5s;
    padding-left: 5px;
    font-size: 15px;
    color: rgb(105, 101, 101);
    pointer-events: none;
}
input[type="text"] {
    padding-left: 7px;
}
select:focus+span,
input:focus+span {
    /* top: -.1px; */
    background-color: white;
}
button {
    background-image: linear-gradient(to right, rgb(10, 10, 10) 0%, black 15%, rgb(87, 45, 185) 100%);
    text-align: center;
    transition: 0.5s;
    margin-top: 20px;
    letter-spacing: 2px;
    width: 170px;
    height: 40px;
    border: 1px solid rgb(75, 10, 112);
    background-size: 200% auto;
    box-shadow: 0 0 20px #cfacac;  /* offset-x | offset-y | blur-radius | color */
    border-radius: 7px;
    display: block;
    font-size: 20px;
    color: white;
}
button:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}